/* For footer*/
/*for Mobile device*/
@media (min-width: 320px) and (max-width: 767px) {
    .quick-info{
        padding-left:0em;
    }
   .ftr-tle .padding-1 {
        padding-left: 0px;
        margin-top:40px;
}
}
