/*  
Table of content  
------------------------------------- 
*  1) Home page
*  2) 
*  3) 
*  4) 
*  5) 
*  6) 
*
***********************************************************************/

/*   1)  Home page
========================================================================== */
 /* Banner  */
.navbar {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}
.navbar-default {
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.3s;
}
.navbar-default {
    background-color: transparent;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}

.navbar-brand
{
	font-family: 'Chewy', cursive;
	font-size: 32px;
}

.navbar-brand img {
    padding-top: 2px;
    width: 120px !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EA6045;
}

.top-nav-collapse {
    padding: 0; 
    background: rgba(28,74,90, 0.9);
    border-bottom: 1px solid #d5d5d5;
}

.white, .white:hover, .white:focus
{
	color: #fff;
	width: 100% !important;
}
.block
{
	display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: rgba(12, 184, 182, 0.21);
}
.navbar-default .navbar-nav > li > a
{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color: #fff;
    background-color: rgba(12, 184, 182, 0.21);
}
.affix {
    background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
    background-color: rgba(12, 184, 182) !important;
}
#banner{
	background: url('../img/bg-banner.jpg') no-repeat fixed;
	background-size: cover;
	min-height: 650px;
	position: relative;
}
.bg-color{
	background-color: RGBA(13, 70, 83, 0.78);
	min-height: 650px;
}
.banner-info{
	padding-top: 140px;
}
.banner-logo img{
	display: inline-block;
}
.banner-text{
	color: #fff;
}
.banner-text h1{
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom:15px; 
}

.search-service{
    margin-top:20px;
    color:#646464;
}
.search-service .selectpicker{
    padding:8px;
    border-radius: 5px;
    outline:none;
}
.search-service .search-box{
    padding:10px;
    border-radius: 5px;
}
.search-exmp{
    font-size: 12px;
    margin-left: 184px;
    margin-top: 7px;
}


/*Footer*/
#footer{
	background-color: #325C6A;
}
.ftr-tle {
    height: 50px;
}
.ftr-tle .padding-1{
    padding-left:40px;
}
.info-sec  {
    color: #fff;
}
.quick-info li{
    line-height: 30px;
}
.quick-info li a:hover {    
    text-decoration:none;
    color:#6F7575;
}
.social-icon li {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
}
.bglight-blue {
    background-color: #3498DB;
}
.bgred {
    background-color: #E74C3C;
}
.bgdark-blue {
    background-color: #2C3E50;
}
.bglight-blue {
    background-color: #3498DB;
}
.top-footer {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
    padding: 30px 0px;
    color: #fff;
}

.footer-line a {
    color: #0CB8B6;
}

.quick-info li a{
    color: #fff;
}
.site-link, .site-link:hover, .site-link:focus
{
    color: #0cb8b6;
    text-transform: none;
}
